<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <h1 class="mt-4">Angular-Ex.Form</h1>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <app-com1 [Data]='Data'></app-com1>
            </div>
            <div class="col-md-6">
                <app-com2 (onSendData)='Data = $event'></app-com2>
            </div>
        </div>
    </div>
</body>

</html>